.section {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  margin: 4% auto 2% auto;
}

.toggle {
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
  z-index: 1000;
  margin: 0 5% 0 auto;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 12px;
  height: 70px;
  width: 55px;
  opacity: 0.8;
  cursor: pointer;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  box-shadow: rgba(177, 57, 57, 0.42) 8px 10px 37px -14px;
  background: black;
  transition: 0.5s;
}

.toggle:hover {
  transition: 0.5s;
  box-shadow: rgba(0, 0, 0, 0.42) 8px 10px 55px -14px;
  background: rgb(21, 21, 21);
}
#not-so-dark {
  color: white;
}
#so-dark {
  text-shadow: 0px 2px 9px rgb(0, 217, 255);
}

i.so-dark {
  text-shadow: 0px 2px 9px rgb(0, 217, 255);
}

.not-so-dark {
  color: #282c34;
}

.so-dark {
  color: white;
}

.section img {
  width: 50%;
  z-index: 1;
  padding: 0.2%;
}

.dark-video {
  transition: 0.2s;
  filter: brightness(500%);
}

.video-container {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 50%;
}

hr {
  width: 9%;
  height: 1px;
  border: 0;
  border-bottom: 1px solid #fff;
  background: #ccc;
}

nav {
  height: 70px;
  display: flex;
  justify-content: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  position: -webkit-sticky;
  position: sticky;
  z-index: 2;
  padding: 1% 0;
}

ul {
  padding: 0;
  display: flex;
  align-items: center;
  list-style-type: none;
  width: 50%;
  margin: 0;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
}

.fa-github:hover {
  text-shadow: none;
  color: rgb(116, 0, 199);
  transition: 250ms;
}

.fa-twitter:hover,
.fa-linkedin:hover,
.fa-envelope:hover {
  text-shadow: none;
  color: rgb(0, 145, 255);
  transition: 250ms;
}

p {
  font-family: "Open Sans Condensed", sans-serif;
  width: 40%;
  font-size: 1.6rem;
  margin: 1% auto;
  padding-bottom: 15px;
  text-align: center;
  color: #545454;
}

@media (max-width: 1000px) {
  p {
    width: 75%;
    margin: 0 auto;
    padding-bottom: 15px;
    text-align: center;
    color: #545454;
  }
}

@media (max-width: 415px) {
  .section img {
    width: 500px;
  }

  .video-container {
    width: 415px;
  }

  .section p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 !important;
  }
}

@media (max-width: 375px) {
  .main-section {
    width: 100vw;
  }

  .main-portfolio-section,
  .everything,
  .project-one-wrapper {
    width: 100vw;
  }

  .carousel-wrapper-two {
    height: 100%;
    margin: 15px;
  }

  .everything {
    height: auto;
  }

  .section img {
    width: 100vh;
  }

  .video-container {
    width: 70vh;
  }
}
