.section {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  margin: 4% auto 2% auto;
}

.section img {
  width: 50%;
  z-index: 1;
  padding: 0.2%;
}

.video-container {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 50%;
}

hr {
  width: 9%;
  height: 1px;
  border: 0;
  border-bottom: 1px solid #fff;
  background: #ccc;
}

nav {
  display: flex;
  justify-content: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  position: -webkit-sticky;
  position: sticky;
  z-index: 2;
  padding: 1% 0;
}

ul {
  padding: 0;
  display: flex;
  align-items: center;
  list-style-type: none;
  width: 50%;
  margin: 0;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
}

.fa-github:hover {
  color: rgb(116, 0, 199);
  transition: 250ms;
}

.fa-twitter:hover,
.fa-linkedin:hover,
.fa-envelope:hover {
  color: rgb(0, 145, 255);
  transition: 250ms;
}

p {
  font-family: "Open Sans Condensed", sans-serif;
  width: 40%;
  font-size: 1.6rem;
  margin: 1% auto;
  padding-bottom: 15px;
  text-align: center;
  color: #545454;
}

@media (max-width: 1000px) {
  p {
    width: 75%;
    margin: 0 auto;
    padding-bottom: 15px;
    text-align: center;
    color: #545454;
  }
}

@media (max-width: 415px) {
  .section img {
    width: 500px;
  }

  .video-container {
    width: 400px;
  }

  .section p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 !important;
  }
}

@media (max-width: 375px) {
  .section img {
    width: 100vh;
  }

  .video-container {
    width: 70vh;
  }
}
