.section {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  margin: 2% auto;
}

.section img {
  width: 1000px;
  height: 500px;
  padding: 5px 0;
  z-index: 1;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-background {
  width: 1010px;
}

.lower-section {
  position: absolute;
  justify-content: center;
  width: 100%;
}

hr {
  width: 9%;
  height: 1px;
  border: 0;
  border-bottom: 1px solid #fff;
  background: #ccc;
}

nav {
  display: flex;
  justify-content: center;
}

ul {
  padding: 0;
  display: flex;
  list-style-type: none;
  width: 50%;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
}

.fa-linkedin,
.fa-envelope,
.fa-twitter,
.fa-github {
  color: #545454;
}

.fa-linkedin:hover {
  color: rgb(0, 115, 255);
  transition: 250ms;
}
.fa-github:hover {
  color: rgb(116, 0, 199);
  transition: 250ms;
}
.fa-envelope:hover {
  color: rgb(31, 82, 250);
  transition: 250ms;
}
.fa-twitter:hover {
  color: rgb(0, 145, 255);
  transition: 250ms;
}

p {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 15px;
  text-align: center;
  color: #545454;
}

.java-cup {
  width: 50px;
  height: 50px;
}

.react {
  width: 85px;
  height: 50px;
}

.git {
  width: 50px;
  height: 50px;
}

.node {
  width: 50px;
  height: 50px;
}

.express {
  width: 100px;
  height: 50px;
}
