.everything {
  height: auto;
}
a:hover {
  text-decoration: none;
}

.project-one-wrapper {
  display: flex;
  align-items: center;
  height: 800px;
}

.social-family {
  transition: all 0.5s ease;
  background: linear-gradient(
    -30deg,
    #a01839,
    #c64343 50%,
    #fff calc(20% + 1px),
    #fff 60%,
    #fff calc(60% + 1px),
    #fff 70%,
    #fff calc(70% + 1px),
    #fff
  );
}

.social-family-dark {
  transition: all 0.5s ease;
  background: linear-gradient(
    30deg,
    #a01839,
    #c64343 50%,
    #1f2022 calc(20% + 1px),
    #1f2022 60%,
    #1f2022 calc(60% + 1px),
    #1f2022 70%,
    #1f2022 calc(70% + 1px),
    #1f2022
  );
}

.tieme-ndo {
  background: linear-gradient(
    40deg,
    #3c384a,
    #426361 50%,
    #fff calc(20% + 1px),
    #fff 60%,
    #fff calc(60% + 1px),
    #fff 70%,
    #fff calc(70% + 1px),
    #fff
  );
}

.tieme-ndo-dark {
  background: linear-gradient(
    -40deg,
    #3c384a,
    #426361 50%,
    #1f2022 calc(20% + 1px),
    #1f2022 60%,
    #1f2022 calc(60% + 1px),
    #1f2022 70%,
    #1f2022 calc(70% + 1px),
    #1f2022
  );
}

.your-tour {
  background: linear-gradient(
    -20deg,
    #8260a7,
    #f09aa4 50%,
    #fff calc(20% + 1px),
    #fff 60%,
    #fff calc(60% + 1px),
    #fff 70%,
    #fff calc(70% + 1px),
    #fff
  );
}

.your-tour-dark {
  background: linear-gradient(
    20deg,
    #8260a7,
    #f09aa4 50%,
    #1f2022 calc(20% + 1px),
    #1f2022 60%,
    #1f2022 calc(60% + 1px),
    #1f2022 70%,
    #1f2022 calc(70% + 1px),
    #1f2022
  );
}

.axis-care {
  background: linear-gradient(
    -55deg,
    #155fc7,
    rgb(51, 112, 196) 50%,
    #fff calc(20% + 1px),
    #fff 60%,
    #fff calc(60% + 1px),
    #fff 70%,
    #fff calc(70% + 1px),
    #fff
  );
}

.axis-care-dark {
  background: linear-gradient(
    55deg,
    #155fc7,
    rgb(51, 112, 196) 50%,
    #1f2022 calc(20% + 1px),
    #1f2022 60%,
    #1f2022 calc(60% + 1px),
    #1f2022 70%,
    #1f2022 calc(70% + 1px),
    #1f2022
  );
}

.carousel-wrapper {
  display: flex;
  margin: 2% 0 2% 2%;
  width: 1500px;
  height: 500px;
}

.carousel.slide {
  width: 1000px;
  border-radius: 7px;
}

.carousel-wrapper-two {
  display: flex;
  margin: 2% 4% 2% 0;
  width: 1250px;
  height: 500px;
}

.carousel {
  border-radius: 7px;
  transition: 0.5s ease-in-out;
}

.carousel:hover {
  transition: 0.5s ease;
}

.carousel img {
  border-radius: 7px;
  width: 943px;
  height: 500px;
}

.carousel-inner .carousel-item {
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  display: none;
}

.carousel-wrapper-two .tech-stack {
  margin: 0 3% 0 0;
}

.tech-stack {
  margin: 0 2%;
  max-width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.tech-stack img {
  width: 75px;
  position: relative;
}

.project-description {
  display: flex;
  justify-content: center;
  width: 1250px;
  height: 500px;
  margin: 2%;
}
.description {
  font-family: "Open Sans Condensed", sans-serif;
}

.description p {
  font-size: 1.3rem;
  width: 500px;
  position: relative;
}

.links {
  display: flex;
  justify-content: space-evenly;
}
.links a {
  font-size: 4rem;
}

.not-so-dark {
  color: #282c34;
}

.so-dark {
  color: white;
}

.links-div span {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  font-size: 1rem;
}

.links-div:hover {
  text-decoration: none;
}

@media (max-width: 1650px) {
  .carousel.slide {
    width: 775px;
  }

  .carousel-wrapper {
    width: 775px;
  }

  .carousel-wrapper-two {
    width: 775px;
  }
  .carousel img {
    border-radius: 7px;
    width: 775px;
  }
}

@media (max-width: 1450px) {
  .carousel-wrapper {
    width: 700px;
  }

  .carousel-wrapper-two {
    width: 700px;
  }
  .carousel img {
    border-radius: 7px;
    width: 600px;
    max-width: 660px;
    height: 400px;
  }

  .tech-stack {
    margin: 0 2%;
    width: 700px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .carousel-wrapper-two .tech-stack {
    margin: 0 3% 0 0;
  }

  .tech-stack img {
    width: 45px;
    position: relative;
  }

  .project-description {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 2%;
  }

  .description h1 {
    font-size: 1.6rem;
  }

  .description p {
    width: 90%;
    position: relative;
    font-size: 1.4rem;
  }

  .links {
    display: flex;
    justify-content: space-evenly;
  }
  .links a {
    font-size: 3rem;
  }
}

@media (max-width: 1156px) {
  .carousel-wrapper {
    align-items: center;
    margin: 2% 2% 0 2%;
  }

  .carousel-wrapper-two {
    align-items: center;
    flex-direction: column-reverse;
    margin: 2% 2% 0 2%;
  }
  .carousel.slide {
    width: auto;
    border-radius: 7px;
  }
  .project-one-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .project-two {
    flex-direction: column-reverse;
  }

  .carousel-wrapper {
    flex-direction: column;
  }

  .carousel img {
    border-radius: 7px;
    width: 800px;
    max-width: 750px;
    margin: 0;
  }
  .project-description {
    margin: 20px;
  }
  .tech-stack {
    margin: 0 !important;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .tech-stack h1 {
    display: none;
  }

  .tech-stack img {
    width: 45px;
    position: relative;
  }

  .description h1 {
    font-size: 1.6rem;
  }

  .description p {
    width: 90%;
    position: relative;
    font-size: 1rem;
  }
}

@media (max-width: 800px) {
  .carousel-wrapper {
    width: 600px;
  }

  .everything {
    height: auto;
  }

  .carousel-wrapper-two {
    width: 600px;
  }
  .carousel img {
    width: 590px;
  }
  .tech-stack {
    width: 590px;
  }
  .description p {
    width: 80%;
  }

  .links-div i {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 600px) {
  .carousel-wrapper {
    width: 500px;
  }

  .carousel-wrapper-two {
    width: 500px;
  }

  .carousel img {
    width: 500px;
  }

  .description p {
    width: 90%;
  }
  .links-div i {
    font-size: 2rem;
  }
  .links-div span {
    display: none;
  }
}

@media (max-width: 500px) {
  .carousel-wrapper {
    width: 400px;
  }

  .carousel-wrapper-two {
    width: 400px;
  }
  .carousel img {
    width: 400px;
  }

  .description p {
    width: 90%;
  }
  .tech-stack {
    height: 75px;
  }
}

@media (max-width: 415px) {
  .main-section {
    width: 415px;
  }
  .main-portfolio-section {
    width: 415px;
  }
  .everything {
    width: 415px;
    margin: 0;
  }
  .project-one-wrapper {
    width: 415px;
    margin-top: 15px;
    height: auto;
  }
  .carousel-wrapper {
    width: 340px;
    margin: 15px;
    height: auto;
  }

  .carousel-wrapper-two {
    width: 365px;
    margin: 0 15px 15px 15px;
    height: auto;
  }
  .carousel img {
    width: 375px;
    height: 300px;
  }

  .project-two {
    flex-direction: column-reverse;
  }

  .project-description {
    margin: 20px 0 !important;
    height: auto;
  }
  .description p {
    width: 90%;
  }
  .description {
    height: auto;
  }
}

@media (max-width: 375px) {
  .carousel-wrapper {
    width: 100%;
    margin: 15px;
  }

  .carousel-wrapper-two {
    width: 100%;
    margin: 100px 15px 15px 15px;
  }
  .carousel img {
    width: 100%;
    height: 100%;
  }

  .description p {
    width: 70%;
  }
}
