.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.App-dark-mode {
  transition: ease 0.2s;
  background-color: #1f2022;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: white;
}
